img {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  all: unset;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 15px;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gelasio', serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: inherit;
  vertical-align: inherit;
  line-height: 1.7;
  font-weight: 400;
  height: 100%;
}

.navbar__li {
  color: #FF7587;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar__li--hover:hover {
  color: #EC586C;
  font-weight: 400;
}

.navbar__icon {
  color: #fff;
  padding-right: 1.3rem;
  cursor: pointer;
}

.navbar__icon--hover:hover {
  color: #FF7587;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1199px) {
  .navbar__icon {
    padding-top: 1rem;
  }
}

.navbar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.navbar .navbar__container {
  padding: 1rem;
  background: #29274C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar__container .navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .navbar__container .navbar__right {
  margin-left: 22rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px), (min-width: 769px) and (max-width: 1199px) {
  .navbar .navbar__container {
    padding: 1rem;
    background: #29274C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar__container .navbar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  .navbar .navbar__container .navbar__right {
    margin-left: -3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navbar .navbar__container .navbar__singer {
    font-size: 1.7rem;
  }
}

@media all and (min-width: 1200px) and (max-width: 1526px) {
  .navbar .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar__left > * {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.navbar__singer {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 400;
}

.navbar__singer .navbar__span {
  color: #FF7587;
}
/*# sourceMappingURL=style.css.map */